#checkout-designer-modal {
    position: fixed;
    background: #c8c8c859;
    top: 0;
    border: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
#checkout-designer-modal-loader {
    position: absolute;
}
div#customer_details{
    display: none!important;
}
.woocommerce-checkout header.fl-post-header, .woocommerce-checkout h3#order_review_heading{
    display: none;
}
.checkout-columns {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
#order_review.woocommerce-checkout-review-order {
    display: none !important;
}
/** faruk css start **/
.woocommerce-checkout.fl-full-width .container {
    width: 1200px;
}

.woocommerce-checkout header.fl-post-header,.woocommerce-checkout h3#order_review_heading {
    display: none;
}

.woocommerce-checkout {
    background: #fff;
}
.checkout-right {
    padding: 30px;
    width: 40%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 55.88px 0px #0000001f;
}

.checkout-right h6.method {
    font-family: 'Poppins';
    margin-top: 0px;
    padding-bottom: 10px;
    font-weight: 600;
    color: #000;
    font-size: 16px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 20px;
}

.woocommerce-page #payment ul.payment_methods::before,.woocommerce-page #payment ul.payment_methods::after {
    display: none;
}

.checkout-right .form-row.place-order {
    padding: 0px !important;
}

.checkout-right button#place_order {
    background: linear-gradient(90deg, #31DC80 0%, #16A18B 100%);
    width: 100%;
    height: 50px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    border: unset;
    font-size: 16px;
    margin-top: 30px;
    border-radius: 12px !important;
    display: block;
}

img.bit-coin-logo ~ img {
    display: none;
}

.woocommerce-checkout #payment ul.payment_methods li .payment_box {
    display: none !important;
}

.woocommerce-checkout #payment ul.payment_methods li label {
    font-size: 0px;
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 0px !important;
    margin-bottom: 0px;
    position: relative;
}

.woocommerce-checkout #payment ul.payment_methods li img.bit-coin-logo {
    width: 16px;
    margin: 0px !important;
}

.woocommerce-checkout #payment ul.payment_methods li img.card-logo {
    margin: 0px !important;
}

.woocommerce-checkout #payment ul.payment_methods li .payment-text {
    font-size: 16px;
    padding-left: 5px;
    font-weight: 600;
    padding-left: 5px;
}

#add_payment_method #payment ul.payment_methods li input, .woocommerce-cart #payment ul.payment_methods li input, .woocommerce-checkout #payment ul.payment_methods li input {
    margin: 12px 5px 12px 0px !important;
}

.woocommerce-checkout .payment_box.payment_method_blockonomics {
    display: none !important;
}

.woocommerce-checkout #payment ul.payment_methods li {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #E6E6E6;
    padding: 8px 15px;
    display: flex;
    position: relative;
    align-items: center;
}

.woocommerce-checkout #payment ul.payment_methods li p.payment-discription {
    background: #16A18B1A;
    color: #06AB52;
    font-size: 12px;
    text-align: center;
    border-radius: 20px;
    padding: 3px 15px;
    margin-bottom: 0px;
    position: absolute;
    right: 0;
    font-weight: 600;
}

.woocommerce #payment ul.payment_methods, .woocommerce-page #payment ul.payment_methods {
    border-bottom: unset;
    background: #fff;
    display: flex;
    padding: 0px;
    column-gap: 10px;
    column-gap: 10px;
    row-gap: 10px;
    flex-direction: column;
}

.woocommerce #payment, .woocommerce-page #payment {
    background: #fff;
    border: unset;
}

.woocommerce-checkout .woocommerce-message {
    display: none;
}

.blockonomics-payments-message {
    background: #fff5e5;
    border-radius: 8px;
    padding: 10px;
    margin: 25px 0px 0px;
    font-size: 12px;
    color: #000;
    display: flex;
    align-items: flex-start;
    column-gap: 8px;
}

p.blockonomics-payments-message img {
    width: 14px;
    padding-top: 3px;
}

.blockonomics-payments-info h6.method {
    margin-top: 30px;
}

.fee-table {
    display: flex;
    justify-content: space-between;
    color: #000;
}

.fee-price {
    font-weight: 700;
}

.blockonomics-payments-message p {
    margin-bottom: 0px;
}

.checkout-right {
    margin: 0px 20px;
    width: 40%;
    position: relative;
}

.woocommerce-checkout .checkout-left {
    width: 60%;
    margin-right: 20px;
}

.checkout-left table.product-table {
    width: 100%;
    margin-bottom: 50px;
}

.checkout-left table.product-table thead,.checkout-left table.product-table tbody tr {
    border-bottom: 1px solid #e6e6e6;
}

.checkout-left table.product-table thead th {
    padding-bottom: 15px;
    color: #000;
    font-size: 16px;
}

.checkout-left table.product-table tbody td {
    padding: 20px 0px;
}

.woocommerce-checkout .checkout-left h3 {
    font-family: 'Poppins';
    font-size: 40px !important;
    font-weight: 600;
    color: #000;
    margin-top: 0px;
    margin-bottom: 40px;
}

.checkout-right h3 {
    font-family: 'Poppins';
    font-size: 30px !important;
    font-weight: 600;
    color: #000;
    margin-top: 0px;
    margin-bottom: 30px;
}

.checkout-left .total-section {
    background: #ecfff5;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
}

.checkout-left table.totals-table {
    width: 100%;
}

.checkout-left .coupon {
    background: #ecfff5;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    padding: 20px;
    padding-top: 10px;
}

input#coupon_code::placeholder {
    color: #000 !important;
}

.checkout-left .coupon input#coupon_code {
    border: 0.83px solid #A2A2A24D !important;
    background: #fff !important;
    color: #000 !important;
    height: 45px;
    border-radius: 12px 0px 0px 12px;
    margin-right: -15px;
}

.checkout-left .coupon button.button {
    background: linear-gradient(90deg, #31DC80 0%, #16A18B 100%) !important;
    color: #fff !important;
    border-radius: 12px !important;
    padding: 0px 31px !important;
}

.checkout-left .coupon p.form-row::before,.checkout-left .coupon p.form-row::after {
    display: none;
}

.checkout-left .coupon p.form-row {
    display: flex;
    justify-content: space-between;
}

.checkout-left table.totals-table tbody tr td {
    padding: 15px 0px;
    font-size: 16px;
}

.checkout-left table.totals-table tbody tr {
    border-bottom: 1px solid #e8e8e8;
}

.checkout-left table.totals-table tbody tr td:nth-child(2) {
    width: 26%;
    font-weight: 700;
    color: #000;
}

.bitcoin-payments-message-below {
    background: #fff5e5;
    border-radius: 8px;
    padding: 10px;
    margin: 20px 0px 0px 0px;
}

.bitcoin-payments-message-below img {
    width: 13px;
}

.bitcoin-payments-message-below p {
    margin-bottom: 0px;
    font-size: 12px;
    color: #000;
    display: flex;
    align-items: flex-start;
    column-gap: 8px;
}

.payment-method-blockonomics li.wc_payment_method.payment_method_sellix {
    border: 0.93px solid #FF9D00 !important;
    background: #FF9D001A;
}

.payment-method-card li.wc_payment_method.payment_method_sellix.payment-active {
    border: 0.93px solid #FF9D00 !important;
    background: #FF9D001A !important;
}

.payment-method-blockonomics li.wc_payment_method.payment_method_sellix p.payment-discription {
    background: #ffe5c3 !important;
    color: #FF8A00 !important;
}

.payment-method-card li.wc_payment_method {
    background: unset !important;
    border: 0.93px solid #CBCBCB !important;
}

.payment-method-card li.wc_payment_method.payment-active {
    background: #ECFFF5 !important;
    border: 0.93px solid #32DD81 !important;
}

.payment-method-card .blockonomics-payments-message {
    background: #ECFFF5 !important;
}

p.payment-discription img {
    width: 13px;
    margin-right: 5px !important;
    margin-left: 0px !important;
}

a.mobile-arrow-bottom {
    display: none;
}

li.wc_payment_method.payment_method_blockonomics p.payment-discription img {
    filter: brightness(0) invert(1);
}

li.wc_payment_method p.payment-discription img {
    width: 13px;
    margin-right: 5px !important;
    margin-left: 0px !important;
}

.payment-method-blockonomics li.wc_payment_method.payment_method_blockonomics p.payment-discription img {
    filter: unset !important;
}

p.blockonomics-payments-message {
    background: #ecfff5;
}

.payment-method-blockonomics .blockonomics-payments-message {
    background: #fff5e5;
}

.payment-method-card li.wc_payment_method.payment_method_sellix {
    background: unset !important;
    border: 0.93px solid #CBCBCB !important;
}

.payment-method-card li.wc_payment_method.payment_method_sellix p.payment-discription {
    background: #ffe5c3 !important;
    color: #FF8A00 !important;
}

.checkout-left table.product-table tbody tr td:nth-child(1) {
    width: unset;
    padding-right: 10px;
}

.checkout-left table.product-table tbody tr td:nth-child(4) {
    width: 20%;
}

.checkout-left table.product-table tbody tr td:last-child {
    width: max-content;
}

.payment-method-card .checkout-left table.product-table tbody tr td:nth-child(1) {
    width: unset;
}

.bitcoin-payments-message-below.dis-none {
    display: none !important;
}

.checkout-left table.product-table tbody td .quantity {
    width: 60px !important;
}

.payment-box-wrapper {
    display: flex;
    column-gap: 15px;
    row-gap: 15px;
}

.woocommerce-checkout #payment ul.payment_methods li p.payment-discription img {
    display: none;
}

p.payment-dis {
    display: block;
    font-size: 10px;
    margin-bottom: 0px;
    color: #000;
    font-weight: 400;
    line-height: 1.5;
    margin-top: -5px;
}

.woocommerce-checkout #payment ul.payment_methods li .payment-text {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

/* addon css start */
.addons-section {
    background: #ECFFF5;
    padding: 18px;
    border-radius: 7px;
}

.addons-body {
    display: flex;
    flex-direction: column;
    column-gap: 18px;
    row-gap: 18px;
    align-items: center;
}

.addons-body select,.addons-body input.addon-mac-address,button.button.add-addon-to-cart {
    height: 50px;
    border: unset;
    padding: 14px 18px;
    border-radius: 7px;
    width: 100%;
}

.addons-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d6d6d6;
    margin-bottom: 20px;
}

h6.method {
    color: #000;
    font-size: 18px;
    font-weight: 600;
}

.addons-head p {
    margin: 0px;
    font-size: 13px;
}

input.addon-mac-address.red {
    border: 1px solid red;
}

.addons-head p img {
    width: 16px;
    margin-right: 6px;
}

input.addon-mac-address::placeholder {
    color: #000 !important;
}

input.addon-mac-address {
    color: #000 !important;
}

.addons-body select {
    appearance: none;
    background-image: url(https://iptvutanbox.com/wp-content/uploads/2024/11/Vector-17.png);
    background-repeat: no-repeat;
    background-position: right 18px top 50%;
    background-size: 13px auto;
}

button.button.add-addon-to-cart {
    background: linear-gradient(90deg, #31DC80 0%, #16A18B 100%);
    color: #fff;
    width: 200px;
}

p.payment-subtitle {
    font-size: 10px;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: -5px;
}

.woocommerce-checkout #payment ul.payment_methods li .payment-text {
    display: flex !important;
    flex-direction: column !important;
    flex-wrap: nowrap !important;
}

@media only screen and (max-width: 767px) {
    .addons-head {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
    }
}

button.remove-cart {
    padding: 0px;
    border: unset;
    background: unset;
}

.addons-section {
    margin: 20px 0px;
}

/* addon css stop */
@media only screen and (max-width: 767px) {
    .checkout-left table.product-table tbody tr td:nth-child(1) {
        width: 120px;
    }

    .checkout-left table.product-table tbody tr td:nth-child(2) {
        width: 100px;
    }

    button.remove-cart img {
        width: 25px;
    }

    .addons-head p {
        font-size: 10px;
        margin-bottom: 10px;
    }

    .elementor-section.elementor-section-stretched .elementor-section.elementor-section-stretched {
        left: -40px !important;
    }

    .checkout-columns {
        display: flex;
        justify-content: space-between;
        padding: 20px 0px;
        flex-direction: column-reverse;
        row-gap: 40px;
        position: relative;
        padding-bottom: 100px;
    }

    .woocommerce-checkout .checkout-left {
        position: unset !important;
    }

    .woocommerce-checkout.fl-full-width .container {
        width: 100% !important;
    }

    .checkout-right {
        margin: 0px;
        width: 100%;
        position: relative;
    }

    .woocommerce-checkout.fl-full-width .container>.row>.fl-content.col-md-12 {
        margin: 0px !important;
        padding: 0px !important;
    }

    .checkout-right h3 {
        font-family: 'Poppins';
        font-size: 24px !important;
        text-align: center;
    }

    .woocommerce-checkout #payment ul.payment_methods li {
        padding: 10px 15px;
    }

    .woocommerce-checkout #payment ul.payment_methods li .payment-text {
        font-size: 16px;
        padding-left: 5px;
        font-weight: 600;
    }

    .woocommerce-checkout .checkout-left {
        width: 100%;
        margin-right: 0px !important;
    }

    .woocommerce-checkout .checkout-left h3 {
        font-family: 'Poppins';
        font-size: 24px !important;
        text-align: center;
    }

    .checkout-left table.product-table {
        margin-bottom: 0px;
    }

    .checkout-left table.totals-table tbody tr td:nth-child(2) {
        width: 35%;
        font-weight: 400;
        font-size: 14px;
    }

    .checkout-left table.totals-table tbody tr td {
        padding: 15px 0px;
        font-size: 14px;
        font-weight: 700;
    }

    .checkout-left table.product-table thead th {
        font-size: 14px;
    }

    .bitcoin-payments-message-below {
        margin: 20px 0px 0px 0px;
    }

    .checkout-right {
        position: unset !important;
    }

    .checkout-right button#place_order {
        position: absolute;
        top: unset !important;
        bottom: 20px !important;
        left: 0px;
        width: 100% !important;
        margin: unset !important;
        margin-top: 30px !important;
        display: block !important;
    }

    .woocommerce-checkout #payment ul.payment_methods li p.payment-discription {
        font-size: 10px;
    }

    a.mobile-arrow-bottom {
        display: none;
        width: 100%;
        background: #ECFFF5;
        padding: 15px;
        text-align: center;
        border-radius: 10px;
        margin-top: 20px;
    }

    a.mobile-arrow-bottom img {
        width: 20px;
    }
}

.payment-method-card li.payment-active.payment-type-card {
    background: #ECFFF5 !important;
    border: 0.93px solid #32DD81 !important;
}

.payment-method-blockonomics li.payment-active.payment-type-blockchain {
    border: 0.93px solid #FF9D00 !important;
    background: #FF9D001A;
}

li.payment-type-blockchain p.payment-discription {
    background: #ffe5c3 !important;
    color: #FF8A00 !important;
}



.checkout-columns {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.checkout-left,
.checkout-right {
    width: 48%;
}

.woocommerce .shop_table {
    width: 100%;
}

.woocommerce .shop_table th,
.woocommerce .shop_table td {
    text-align: left;
}

.woocommerce .shop_table tfoot tr {
    display: table-row;
}

.remove-product-btn {
    margin-top: 10px;
    color: red;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}
#order_review {
    display: none;
}
.payment-type-box {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.payment-type-box label {
    display: flex;
    width: 100%;
}

.payment-type-box input[type="radio"] {
    margin-right: 15px;
    flex-shrink: 0;
}

.payment-type-content {
    flex-grow: 1;
}

.payment-type-content h4 {
    margin: 0;
}

.payment-type-content p {
    margin: 5px 0 0;
    font-size: 0.9em;
    color: #666;
}
.wc_payment_method {
    display: none;
}
.payment_method_blockonomics {
    display: block;
}
.desktop-table {
    display: table;
}
.mobile-table {
    display: none;
}

.payment-type-delayed .payment-box-wrapper .payment-type-box:nth-child(1) {
    border: 0.93px solid #ff9d00 !important;
    background: #ff9d001a;
    border-radius: 10px;
    padding: 8px;
}

.payment-type-direct .payment-box-wrapper .payment-type-box:nth-child(2) {
    background: #ecfff5 !important;
    border: 0.93px solid #32dd81 !important;
    border-radius: 10px;
    padding: 8px;
}
.payment-type-box input[type="radio"] {
    margin-right: 8px;
    flex-shrink: 0;
}
.payment-type-box {
    border-radius: 10px;
    border: 0.93px solid #cbcbcb;
    padding: 8px;
    width: 50%;
}
.payment-box-wrapper .payment-type-box .payment-type-content h4 {
    color: #838383;
    font-size: 16px;
    font-weight: 700;
}
.payment-type-delayed
    .payment-box-wrapper
    .payment-type-box:nth-child(1)
    .payment-type-content
    h4 {
    font-weight: 600 !important;
    color: #000;
    font-size: 16px;
}
.payment-type-direct
    .payment-box-wrapper
    .payment-type-box:nth-child(2)
    .payment-type-content
    h4 {
    font-weight: 600 !important;
    color: #000;
    font-size: 16px;
}
.woocommerce-checkout #payment ul.payment_methods li label > img:last-child {
    display: none;
}
.addon-mac-address {
    display: none;
}
.red {
    border: 2px solid red !important;
}
@media (max-width: 768px) {
    .desktop-table {
        display: none; /* Hide for mobile */
    }
    .mobile-table {
        display: table; /* Show for mobile */
    }
}
