#checkout-designer-modal {
    position: fixed;
    background: #c8c8c859;
    top: 0;
    border: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
#checkout-designer-modal-loader {
    position: absolute;
}
div#customer_details{
    display: none!important;
}
.woocommerce-checkout header.fl-post-header, .woocommerce-checkout h3#order_review_heading{
    display: none;
}
.checkout-columns {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
#order_review.woocommerce-checkout-review-order {
    display: none !important;
}
